USE [master]
GO
/****** Object:  Database [Nov6]    Script Date: 9/11/2023 1:00:47 AM ******/
CREATE DATABASE [Nov6]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Nov6', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Nov6.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Nov6_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Nov6_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Nov6].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Nov6]
GO
/****** Object:  Table [dbo].[City]    Script Date: 9/11/2023 1:00:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[id] [int] NOT NULL,
	[name] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/11/2023 1:00:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] NOT NULL,
	[user_name] [nchar](10) NULL,
	[age] [int] NULL,
	[contact] [int] NULL,
	[city_id] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[City] ([id], [name]) VALUES (1, N'Colombo   ')
INSERT [dbo].[City] ([id], [name]) VALUES (2, N'Jaffna    ')
INSERT [dbo].[City] ([id], [name]) VALUES (3, N'Kandy     ')
GO
INSERT [dbo].[Users] ([id], [user_name], [age], [contact], [city_id]) VALUES (100, N'abc       ', 21, 421144, 3)
INSERT [dbo].[Users] ([id], [user_name], [age], [contact], [city_id]) VALUES (101, N'ghi       ', 22, 5346767, 3)
INSERT [dbo].[Users] ([id], [user_name], [age], [contact], [city_id]) VALUES (102, N'lmn       ', 21, 1234127, 1)
GO
USE [master]
GO
